<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.junle.system.mapper.SysRoleOrganizationMapper">

	<resultMap type="SysRoleOrganization" id="SysRoleOrganizationResult">
		<result property="roleId"     column="role_id"      />
		<result property="organizationId"     column="organization_id"      />
	</resultMap>

	<delete id="deleteRoleOrganizationByRoleId" parameterType="Long">
		delete from sys_role_organization where role_id=#{roleId}
	</delete>
	
	<select id="selectCountRoleOrganizationByOrganizationId" resultType="Integer">
	    select count(1) from sys_role_organization where organization_id=#{organizationId}
	</select>
	
	<delete id="deleteRoleOrganization" parameterType="Long">
 		delete from sys_role_organization where role_id in
 		<foreach collection="array" item="roleId" open="(" separator="," close=")">
 			#{roleId}
        </foreach> 
 	</delete>
	
	<insert id="batchRoleOrganization">
		insert into sys_role_organization(role_id, organization_id) values
		<foreach item="item" index="index" collection="list" separator=",">
			(#{item.roleId},#{item.organizationId})
		</foreach>
	</insert>
	
</mapper> 